<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Welcome <%= osoba %></title>
</head>
<body class="purple">
    <div class="c-center">
        <h1 style="text-align:center">Ćao <%= osoba %>! Stef te mnogo voli <3</h1>
        <img max-height="500" width="400" src="/static/photos/<%= osoba %>.jpg" alt="Ooopss"/>
    </div>
</body>
</html>